<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>oops...</title>
        <link rel="icon" type="image/gif" href="//img.bibrarian.com/favicon.ico?${buildNumber}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div class="container-fluid">
            <h1>
                Internal Application Error
            </h1>
            <p>
                Release: <code>${buildNumber}</code>
            </p>
            <p>
                Sorry, something went terribly wrong. We are already informed
                about the problem. We'll try to fix it ASAP. In the meantime,
                go back to the site and try again:
                <a href="http://www.bibrarian.com">www.bibrarian.com</a>.
            </p>
            <pre>${text}</pre>
        </div>
    </body>
</html>
